@font-face {
  font-family: 'SegoeScript';
  src: url('../fonts/segoesc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'OpenSans';
  font-size: 16.5pt;
}
@media screen and (max-width: 1680px) {
  html {
    font-size: 13pt;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 12pt;
  }
}
